In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [ ]:
data = pd.read_csv("/content/bangalore house price prediction.csv")

In [ ]:
data.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.shape

(7120, 108)

In [ ]:
data.isnull().sum().sum()
# there is no null values

0

In [ ]:
# dividing the data into X and y

X = data.drop('price',axis = 1)

In [ ]:
X.shape

(7120, 107)

In [ ]:
y = data['price']

In [ ]:
y.shape

(7120,)

In [ ]:
# train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5696, 107)
(1424, 107)
(5696,)
(1424,)


# Scaling our data - feature scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
sc.fit(X_train)  # calculated the new values of Xold
X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)

In [ ]:
X_train

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
2191,2.0,2.0,1550.0,3,5290.322581,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3289,3.0,3.0,1650.0,3,13333.333333,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2077,2.0,1.0,1000.0,2,2500.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
443,2.0,1.0,900.0,2,6666.666667,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2812,2.0,1.0,1285.0,2,4669.260700,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3772,2.0,1.0,929.0,2,4951.560818,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5191,2.0,2.0,1050.0,2,5095.238095,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5226,2.0,2.0,1145.0,2,3999.126638,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5390,3.0,2.0,2415.0,3,16521.739130,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
860,2.0,2.0,1365.0,2,5347.985348,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_train_sc  = pd.DataFrame(X_train_sc)

In [ ]:
X_train_sc

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
0,-0.444226,0.546300,0.072326,0.629139,-0.245612,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
1,0.687905,1.834623,0.177294,0.629139,2.913508,-1.733674,2.117119,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
2,-0.444226,-0.742023,-0.505000,-0.550445,-1.341590,0.576810,-0.472340,-0.257036,-1.976389,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
3,-0.444226,-0.742023,-0.609969,-0.550445,0.294986,-1.733674,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
4,-0.444226,-0.742023,-0.205840,-0.550445,-0.489552,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5691,-0.444226,-0.742023,-0.579528,-0.550445,-0.378671,0.576810,-0.472340,-0.257036,-1.976389,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
5692,-0.444226,0.546300,-0.452516,-0.550445,-0.322237,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
5693,-0.444226,0.546300,-0.352796,-0.550445,-0.752766,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
5694,0.687905,0.546300,0.980302,0.629139,4.165844,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
5695,-0.444226,0.546300,-0.121866,-0.550445,-0.222964,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828

# Applying multiple linear regression

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()
lr.fit(X_train_sc, y_train)

LinearRegression()

In [ ]:
# lets see the values of intercept
lr.intercept_

96.10553809691011

In [ ]:
# lets see the valus of coefficient 
lr.coef_

array([ 2.10697065e+00, -2.17344834e-01,  8.09618462e+01, -1.24299891e+01,
        6.46517341e+01,  1.03875798e+00, -4.22390680e-01, -2.65025781e+00,
       -2.19644047e+00, -3.49542058e+00, -2.41964049e+00,  5.18163738e-01,
       -9.85932364e-01,  2.03844761e+00,  4.46666102e-01, -1.52874675e+00,
       -2.62459460e-01,  2.60433514e+00, -1.51294200e+00,  2.14934596e+00,
       -2.86208603e+00, -1.66252417e+00, -7.95799325e-01, -8.62504507e-02,
        1.07791797e+00,  1.96293241e+00, -5.04836289e+00, -8.69534019e-01,
       -4.98395153e-01,  1.76024251e+00, -3.45079920e-01, -4.54048600e-01,
        7.04203932e-01, -1.34675947e+00,  1.28669286e-01, -1.41551169e+00,
        4.51518203e-01,  7.11760189e-01,  3.18362190e+00,  1.66133380e-01,
        5.49930798e-01,  3.17196511e-01, -2.04326026e-01,  1.19513163e+00,
       -1.64190125e+00, -3.13728979e+00, -1.55812680e-01,  4.38329320e-02,
       -6.38027870e-01, -1.69795204e+00, -1.13734096e+00,  6.08899775e-01,
        1.13372540e+00, -3.07142961e-01, -9.02518727e-01,  1.43083295e+00,
        2.39184270e+00, -1.99545949e-01, -2.01931312e+00, -1.10659547e+00,
        9.79850240e-01, -4.20284916e-01, -1.18948530e-01, -4.98403534e-02,
       -1.67495699e+00,  1.42807167e+00, -9.65253660e-01, -1.04604149e+00,
       -7.23180694e-01,  2.00516819e-01, -8.41936975e-01, -3.99211115e-01,
       -1.94579737e+00, -1.14964292e+00,  2.88586175e-01,  1.48646792e+00,
       -8.65679170e-01,  2.18974179e-01, -3.57647740e-01, -1.85310694e+00,
        5.28675273e-01,  1.14357445e-01,  1.21626559e-01,  3.10818763e+00,
        2.34897294e+00, -8.00744593e-01, -2.86510252e-01,  2.11207982e+00,
        1.09413112e-01,  5.97101917e-02,  1.87264752e-01,  1.54194499e+00,
        9.73878752e-01, -1.12989530e+00,  2.53921352e-01, -7.36355678e-01,
        1.68911304e+00,  3.95149746e-01,  1.08528123e+00,  6.02783886e-01,
       -6.15400569e-01, -1.73921470e+00, -3.81989752e-01,  7.70318970e-01,
       -1.15720361e+00,  3.96377949e-01, -4.80080978e-01])

In [ ]:
len(lr.coef_)

107

# Prediction

In [ ]:
X_test

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
960,2.0,2.0,1154.0,2,4072.790295,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
132,2.0,2.0,1216.0,2,4934.210526,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2431,2.0,1.0,1198.0,2,5425.709516,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2229,4.0,2.0,2900.0,4,11206.896552,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4503,3.0,2.0,1685.0,3,3560.830861,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2.0,3.0,1050.0,2,4571.428571,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
553,4.0,1.0,3200.0,4,6406.250000,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1397,2.0,2.0,1139.0,2,4960.491659,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4056,2.0,1.0,818.0,2,3178.484108,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1817,2.0,1.0,1092.0,2,4487.179487,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y_test

960      47.0
132      60.0
2431     65.0
2229    325.0
4503     60.0
        ...
4970     48.0
553     205.0
1397     56.5
4056     26.0
1817     49.0
Name: price, Length: 1424, dtype: float64

In [ ]:
# predicting the output for only 1 test data
y_pred = lr.predict(X_test_sc)

In [ ]:
y_pred

array([27.20184313, 52.88038063, 64.11169828, ..., 51.13592971,
       11.96514123, 34.76431452])

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9196808132211589

In [ ]:
# my model is 91.97% accurate

# Mean Square Error

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mse = mean_squared_error(y_test, y_pred)
mse

911.8757474734952

# Root Mean Square Error

In [ ]:
rsme = np.sqrt(mse)
rsme

30.197280464861322