In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [ ]:
data = pd.read_csv("/content/bangalore house price prediction.csv")

In [ ]:
data.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.shape

(7120, 108)

In [ ]:
data.isnull().sum().sum()
# there is no null values

0

In [ ]:
# dividing the data into X and y

X = data.drop('price',axis = 1)

In [ ]:
X.shape

(7120, 107)

In [ ]:
y = data['price']

In [ ]:
y.shape

(7120,)

In [ ]:
# train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5696, 107)
(1424, 107)
(5696,)
(1424,)


# Scaling our data - feature scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
sc.fit(X_train)  # calculated the new values of Xold
X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)

In [ ]:
X_train

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
2191,2.0,2.0,1550.0,3,5290.322581,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3289,3.0,3.0,1650.0,3,13333.333333,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2077,2.0,1.0,1000.0,2,2500.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
443,2.0,1.0,900.0,2,6666.666667,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2812,2.0,1.0,1285.0,2,4669.260700,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3772,2.0,1.0,929.0,2,4951.560818,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5191,2.0,2.0,1050.0,2,5095.238095,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5226,2.0,2.0,1145.0,2,3999.126638,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5390,3.0,2.0,2415.0,3,16521.739130,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
860,2.0,2.0,1365.0,2,5347.985348,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_train_sc  = pd.DataFrame(X_train_sc)

In [ ]:
X_train_sc

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
0,-0.444226,0.546300,0.072326,0.629139,-0.245612,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
1,0.687905,1.834623,0.177294,0.629139,2.913508,-1.733674,2.117119,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
2,-0.444226,-0.742023,-0.505000,-0.550445,-1.341590,0.576810,-0.472340,-0.257036,-1.976389,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
3,-0.444226,-0.742023,-0.609969,-0.550445,0.294986,-1.733674,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
4,-0.444226,-0.742023,-0.205840,-0.550445,-0.489552,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5691,-0.444226,-0.742023,-0.579528,-0.550445,-0.378671,0.576810,-0.472340,-0.257036,-1.976389,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
5692,-0.444226,0.546300,-0.452516,-0.550445,-0.322237,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
5693,-0.444226,0.546300,-0.352796,-0.550445,-0.752766,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
5694,0.687905,0.546300,0.980302,0.629139,4.165844,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828
5695,-0.444226,0.546300,-0.121866,-0.550445,-0.222964,0.576810,-0.472340,-0.257036,0.505973,-0.187275,...,-0.057852,-0.051385,-0.051385,-0.05936,-0.056304,-0.053074,-0.051385,-0.047828,-0.051385,-0.047828

In [ ]:
# task : apply machine learning algorithm.